@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
  background: #A1BEB4;
  font-family: "Josefin Sans"
}

form {
  color: black;
  font-size: 18px;
}

h1 {
  font-size: 25px;
}

input[type="button"] {
  margin: 20px 0px 20px;
  background-color: #F1E2CB;
  border: none;
  color: #043B40;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Josefin Sans";
}

div {
  font-size: 17px;
}
